
#asterDiv{
	display: inline-block;
}
#d3Parent{
	text-align: center;
}

#buttonLine{
	position: absolute;
}

.dangerBar:hover{
	cursor: pointer;
	fill: cadetblue;
}
.alertBar:hover{
	cursor: pointer;
}
.arcTextSelected{
	font-weight: bold;
}
